### List_remove_append :

In [1]:
# Description: Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.

input_list = ['SAS','R','PYTHON','SPSS']

#Remove element :
input_list.remove('SPSS')
print(input_list)

#Append element :
input_list.append('SPARK')
print(input_list)

['SAS', 'R', 'PYTHON']
['SAS', 'R', 'PYTHON', 'SPARK']

### String to List Conversion :

In [2]:
#Description: Convert a string input_str = 'I love Data Science & Python' to a list by splitting it on ‘&’.

input_str = 'I love Data Science & Python'

converted_list = list(input_str.split("&"))
converted_list

['I love Data Science ', ' Python']

### List to String Conversion :

In [3]:
# Description: Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’.

input_list = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']

converted_str = " & ".join(input_list)
converted_str

'Pythons syntax is easy to learn & Pythons syntax is very clear'

### Nested List :

In [4]:
#Description: Extract Python from a nested list

input_list = [['SAS','R'],['Tableau','SQL'],['Python','Java']]

input_list[2][0]

'Python'

### It’s the time to disco :

In [5]:
# Description: t = ("disco", 12, 4.5)   What is the output of: t[0][2]

t = ("disco", 12, 4.5)

#Output
t[0][2]

's'

### String Palindrome :

In [6]:
# Description: Write a program to check whether a string is a palindrome or not. Print 1 if the string is a palindrome and 0 otherwise.

def isStrPalindrome(input_str):
    if input_str == input_str[::-1] :
        print(1)
    else:
        print(0)

# False condition:
isStrPalindrome('sir')

# True condition:
isStrPalindrome('madam')

0
1

### Reverse Words :

In [7]:
#Description: You will be given a sentence in the form of a string. You have to reverse the order of the words in the sentence.
#Remember not to reverse the individual words, but the order of words.

input_str= 'me like python and data analytics' 

output_str = ' '.join(reversed(input_str.split(' ')))
output_str

'analytics data and python like me'

### String Formatting :

In [8]:
#Description: Write a program that satisfies below examples :

#Input 1: caloRie ConsuMed ; Output 1: calorie_consumed :>
input_a = 'caloRie ConsuMed'
output_a = '_'.join(input_a.split(' ')).lower()
print('1st output : ', output_a)

#Input 2: data science ; Output 2: data_science :>
input_b = 'data science'
output_b = '_'.join(input_b.split(' '))
print('2nd output : ', output_b)

#Input 3: data science ; Output 3: datascience :>
input_c = 'data science'
output_c = ''.join(input_b.split(' '))
print('3rd output : ', output_c)

1st output :  calorie_consumed
2nd output :  data_science
3rd output :  datascience

### Multiple Choice Questions :

1. How will you extract ‘love’ from the string S = “I love Python”? (More than one option may be correct.)
a. S[2:5]
b. S[2:6]
c. S[3:7]
d. S[-11:-7]
e. S[-11:-8]

Ans >>  b. S[2:6]  &  d. S[-11:-7]

In [9]:
# Ans Reference:
S = 'I love Python'

print(S[2:6])

print(S[-11:-7])

love
love

2. What will the output of 3 * 3 ** 3 be?
a. 9
b. 27
c. 81
d. 729

Ans >>  c. 81

In [10]:
# Ans Reference:
3 * 3 ** 3

81

3. What will the output be of ((500//7) % 5) ** 3?
a. 1
b. 2.91
c. 71.42
d. 0
e. 8

Ans >>  a. 1

In [11]:
# Ans Reference:
((500//7) % 5) ** 3

1

4. If you have a tuple T = (3, 5, 7, 11) what will the output of T.append(9) be?
a. (3, 5, 7, 9, 11)
b. (9, 3, 5, 7, 11)
c. (3, 5, 7, 11, 9)
d. Error

Ans >> d. Error  (Tuple can not chnage using append)

5. What will the output of the following program be?
a. Vikas
b. Mahima
c. y
d. A

program not available in pdf

6. What will the output of the following code be?
a. 5
b. 6
c. 7
d. The code will throw an error

Ans >> b. 6

In [12]:
# Ans Reference:
l = [32, 34, 12, 27, 33]
l.append((14, 19))
print(len(l))

6

7. Which of the following statements is incorrect regarding sets in Python?
a. Sets do not contain duplicate elements
b. Sets are represented using curly braces {}
c. Sets are immutable
d. All of the above

Ans: C. Sets are immutable.  (Set can be change, elements are imutable)

8. What will the output be of the following code?
a.  1
    2
    3
b.  [‘Raj’, 22]
    [‘Simran’, 21]
    [‘Rahul’, 40]
c.  1 [‘Raj’, 22]
    2 [‘Simran’, 21]
    3 [‘Rahul’, 40]
d.  ‘Raj’
    ‘Simran’
    ‘Rahul’
    
Ans >> a. 1
          2
          3

In [13]:
# Ans Reference:
D = {1:['Raj',22], 2:['Simran',21], 3:['Rahul',40]}

for val in D:
    print(val)

1
2
3

9. What will the ‘comprehension equivalent’ be for the following snippet of code?
a. word for sentence in paragraph for word in sentence.split()
b. [word for sentence in paragraph for word in sentence.split()]
c. word for word in sentence.split() for sentence in paragraph
d. [word for word in sentence.split() for sentence in paragraph]

Ans: b. [worrd for sentence in paragraph for word in sentence.split()]

10. What will be the output of this code?
a. [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
b. [9, 8, 7, 6, 5, 4, 3, 2]
c. [9, 8, 7, 6, 5, 4, 3, 2, 1]
d. [10, 9, 8, 7, 6, 5, 4, 3, 2]

Ans >> d. [10, 9, 8, 7, 6, 5, 4, 3, 2]

In [14]:
#Ans reference:
print(list(range(10, 1, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2]